#wrapper {
  position: relative;
  width: 800px;
  height: 600px;
  background-image: url('https://img.freepik.com/premium-vector/glitch-background-computer-screen-error-digital-pixel-noise-abstract-design-video-game-glitch_437233-28.jpg');
  overflow: hidden;
}

#images:hover {
  background: black;
}

#shapes:hover {
  background: black;
  opacity: 75%;
}

.bgcolor {
  position: absolute;
  width: 800px;
  height: 600px;
  background: rgb(224,225,221);
  background: linear-gradient(150deg, rgba(224,225,221,1) 0%, rgba(122,152,153,1) 100%);
  opacity: 75%;
}

.leaves {
  width: 320px;
  height: 300px;
  margin-left: 6%;
  top: 46%;
  clip-path: polygon(72% 76%, 63% 90%, 51% 81%, 35% 94%, 28% 82%, 13% 82%, 18% 68%, 1% 64%, 12% 47%, 0 26%, 14% 21%, 22% 12%, 42% 1%, 73% 4%, 77% 13%, 91% 14%, 100% 25%, 95% 36%, 100% 44%, 94% 57%, 98% 70%, 88% 76%);
  z-index: 3;
  position: absolute;
  background-image: url('https://www.scotts.com/sites/g/files/oydgjc106/files/styles/scotts_asset_image_720_440/public/asset_images/compressed_Bentgrass.jpg?itok=y8WmaAoH');
}

.leavesoverlay {
  width: 320px;
  height: 300px;
  margin-left: 6%;
  top: 46%;
  clip-path: polygon(72% 76%, 63% 90%, 51% 81%, 35% 94%, 28% 82%, 13% 82%, 18% 68%, 1% 64%, 12% 47%, 0 26%, 14% 21%, 22% 12%, 42% 1%, 73% 4%, 77% 13%, 91% 14%, 100% 25%, 95% 36%, 100% 44%, 94% 57%, 98% 70%, 88% 76%);
  z-index: 3;
  position: absolute;
  background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 12%, rgba(21,64,0,1) 46%, rgba(152,221,0,1) 100%);
  opacity: 75%;
}

.pot {
  width: 210px;
  height: 150px;
  background: rgb(51,28,0);
background: linear-gradient(333deg, rgba(51,28,0,1) 0%, rgba(154,130,94,1) 45%);
  border-radius: 100px / 100px;
  z-index: 2;
  position: absolute;
  transform: rotate(-5deg);
  margin-left: 15%;
  top: 71%;
}

.greenbook {
  width: 375px;
	height: 400px;
  background: rgb(255,255,255);
background: linear-gradient(158deg, rgba(255,255,255,1) 0%, rgba(25,108,29,1) 27%, rgba(0,61,33,1) 62%, rgba(0,51,28,1) 100%);
	position: absolute;
	margin-left: -5%;
	bottom: 20%;
	z-index: 2;
  transform: skew(15deg, -10deg);
  /*transform: rotate(-15deg);*/
}

.ainsworth {
  padding-left: 65px;
  padding-top: 95px;
  font-size: 37px;
  line-height: 45px;
  letter-spacing: 2px;
  font-family: 'Libre Baskerville', serif;
  color: white;
}

.bookcover {
  width: 250px;
	height: 100px;
  background: rgb(222,68,0);
  background: linear-gradient(250deg, rgba(222,68,0,1) 0%, rgba(255,157,62,1) 100%);
	position: absolute;
	margin-left: 10%;
	top: 33.7%;
  transform: skew(75deg, -25deg);
	z-index: 2;
}

.bookedge {
  width: 245px;
	height: 51px;
  background: rgb(180,31,0);
  background: linear-gradient(210deg, rgba(180,31,0,1) 0%, rgba(255,117,0,1) 100%);
	position: absolute;
	margin-left: 34%;
	top: 50%;
  transform: skew(0deg, -25deg);
	z-index: 2;
}

.puzzlepiece1 {
  width: 40px;
  height: 35px;
  z-index: 1;
  clip-path: polygon(34% 22%, 34% 0, 68% 0, 65% 20%, 100% 22%, 100% 48%, 69% 51%, 70% 64%, 100% 69%, 100% 100%, 68% 100%, 65% 81%, 35% 82%, 34% 100%, 0 100%, 0 69%, 32% 66%, 32% 49%, 0 48%, 0 24%);
  background: rgb(255,119,0);
background: linear-gradient(90deg, rgba(255,119,0,1) 0%, rgba(255,64,0,1) 100%);
  border-style: hidden;
  border-radius: 20%;
  margin-left: 60%;
  bottom: 28%;
  transform: rotate(-5deg);
  position: absolute;
}

.puzzlepiece2 {
  width: 43px;
  height: 40px;
  z-index: 1;
  clip-path: polygon(39% 21%, 38% 0, 64% 0, 63% 21%, 100% 21%, 100% 42%, 81% 43%, 81% 58%, 100% 60%, 100% 83%, 67% 84%, 66% 100%, 41% 100%, 40% 86%, 17% 86%, 16% 62%, 0 64%, 0 42%, 14% 40%, 13% 22%);
  background: rgb(109,93,117);
background: linear-gradient(149deg, rgba(109,93,117,1) 0%, rgba(182,147,200,1) 100%);
  border-style: hidden;
  border-radius: 20%;
  margin-left: 64.5%;
  bottom: 27%;
  transform: rotate(5deg);
  position: absolute;
}

.puzzlepiece3 {
  width: 39px;
  height: 40px;
  z-index: 1;
  clip-path: polygon(0 0, 34% 0, 35% 20%, 63% 21%, 64% 0, 100% 0, 100% 41%, 72% 43%, 72% 60%, 100% 62%, 100% 100%, 65% 100%, 64% 82%, 37% 81%, 36% 100%, 0 100%, 0 61%, 29% 60%, 29% 42%, 0 41%);
  background: rgb(255,136,0);
background: linear-gradient(157deg, rgba(255,136,0,1) 0%, rgba(255,175,0,1) 100%);
  border-style: hidden;
  border-radius: 20%;
  margin-left: 65%;
  bottom: 22%;
  transform: rotate(-19deg);
  position: absolute;
}

.sheet{
	width: 350px;
	height: 100px;
	background: rgb(255,226,0);
background: linear-gradient(235deg, rgba(255,226,0,1) 0%, rgba(255,184,0,1) 100%);
	position: absolute;
	margin-left: 10%;
  bottom: 0%;
	transform: skew(80deg,-230deg);
	z-index: 0;
}

.shirt{
	width: 400px;
	height: 230px;
  clip-path: polygon(28% 5%, 38% 3%, 49% 18%, 57% 13%, 84% 24%, 100% 22%, 100% 98%, 55% 88%, 31% 90%, 14% 83%, 7% 51%, 15% 28%, 14% 11%);
	background: rgb(255,204,195);
background: linear-gradient(9deg, rgba(255,204,195,1) 0%, rgba(222,155,143,1) 36%, rgba(255,204,195,1) 55%, rgba(255,254,219,1) 61%, rgba(255,204,195,1) 80%);
	position: absolute;
  border-radius: 480px / 200px;
  margin-left: 62.75%;
  bottom: 40%;
  transform: rotate(5deg);
	z-index: 2;
}

.piecebox {
  width: 225px;
  height: 80px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background: rgb(252,248,255);
background: linear-gradient(189deg, rgba(252,248,255,1) 0%, rgba(207,147,255,1) 100%);
  z-index: 0;
  margin-left: 53%;
  top:5.5%;
  position: absolute;
}

.pieceboxleft {
  width: 130px;
  height: 60px;
  background: rgb(255,235,0);
background: linear-gradient(253deg, rgba(255,235,0,1) 0%, rgba(255,179,0,1) 100%);
  margin-left: 50.5%;
  top: 11.25%;
  transform: skew(5deg, 0deg);
  position: absolute;
}

.pieceboxright {
  width: 130px;
  height: 80px;
  background: rgb(222,108,0);
background: linear-gradient(99deg, rgba(222,108,0,1) 0%, rgba(222,48,0,1) 100%);
  margin-left: 67.5%;
  top: 11.5%;
  transform: skew(-5deg, 0deg);
  position: absolute;
}

.pieceboxborder {
  width: 275px;
  height: 100px;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background: rgb(255,85,0);
background: linear-gradient(194deg, rgba(255,85,0,1) 0%, rgba(255,179,0,1) 100%);
  z-index: 0;
  margin-left: 50%;
  top: 3%;
  position: absolute;
}

.pieces {
  background: rgb(158,0,0);
background: linear-gradient(99deg, rgba(158,0,0,1) 0%, rgba(156,65,0,1) 20%, rgba(139,103,0,1) 38%, rgba(74,110,0,1) 63%, rgba(0,117,106,1) 75%, rgba(0,2,113,1) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 12px;
  font-family: 'Georgia';
}

.cardboardshort{
	width: 100px;
	height: 120px;
	background: rgb(80,28,0);
background: linear-gradient(329deg, rgba(80,28,0,1) 0%, rgba(168,106,81,1) 100%);
	position: absolute;
  margin-left: 57%;
  bottom: 60%;
  transform: rotate(-10deg);
	z-index: 1;
}

.cardboardshortshadow{
	width: 140px;
	height: 130px;
  background: rgb(61,17,0);
background: linear-gradient(42deg, rgba(61,17,0,1) 44%, rgba(135,56,16,1) 100%);
	position: absolute;
  margin-left: 52%;
  bottom: 62%;
  transform: rotate(-10deg);
	z-index: 1;
}

.cardboardtall{
	width: 30px;
	height: 250px;
	background: rgb(80,28,0);
background: linear-gradient(329deg, rgba(80,28,0,1) 0%, rgba(168,106,81,1) 100%);
	position: absolute;
  margin-left: 67%;
  bottom: 60%;
  transform: rotate(0deg);
	z-index: 1;
}

.cardboardtallshadow{
	width: 40px;
	height: 200px;
	background: rgb(135,56,16);
background: linear-gradient(42deg, rgba(135,56,16,1) 0%, rgba(61,17,0,1) 100%);
	position: absolute;
  margin-left: 62%;
  bottom: 83%;
  transform: rotate(0deg);
	z-index: 1;
}